#topConten{
	width:950px;
	height:auto;
	margin:auto;
	box-shadow: 0 0 10px #888888;
	/*border: 1px solid blue;*/
}
#topConten .contentTitle{
	height:auto;
	text-align:center;
	font-weight:bold;
	/*border:1px solid red;*/
}

#buttomContent{
	width:950px;
	height:auto;
	margin:auto;
	box-shadow: 0 0 10px #888888;
	/*border: 1px solid blue;*/
}
#buttomContent .panel{
	width:473px;
	height:auto;
	float:left;
	margin:auto;
	text-align:center;
	/*border: 1px solid red;*/
}
#buttomContent .panel .panelChartTitle{
	height:60px;
	teat-align:center;
	font-weight:bold;
	/*border:1px solid blue;*/
}