<link class="style" href="../Css/amountNewStudentByYear.css" rel="stylesheet" type="text/css">
<script src="../Controller/amountNewStudentByYear.js"> </script>

	<div id="topContent">
		<div class="panel">
			<div class="panelTitleChart">
				จำนวนนักศึกษาใหม่เทียบกับแผนตามปีการศึกษา <br/>
				(คลิกที่แต่ละปีการศึกษาเพื่อดูรายละเอียดในระดับสำนักวิชาด้านล่าง) <br/>
			</div>
			<!-- Start Kendo chart --> 
    		<div id="newStudentByYearChart" style="width:450px; height:340px; margin:auto;"> </div>
			<!-- End Kendo chart --> 
		</div>
		<div id="panelL-Page1" class="panel">
			<div id="titleTopSelect" class="panelTitleChart">
				Top:&nbsp;
				<select id="selectTop">
					<option selected="selected"> 5 </option>
					<option> 10 </option>
				</select>
				&nbsp; โรงเรียนที่มีนักศึกษาใหม่มากที่สุด  ปีการศึกษา <label id="asOfYear" class="asOfYear"><!-- "Year" refer parameter Chart --></label> <br/>
			</div>
			<!-- Start Kendo chart --> 
			<div id="topTenHighSchoolChart" style="width:450px; height:340px; margin:auto;"> </div>
			<!-- End Kendo chart -->
			
		</div>
		<br style="clear:both">
	</div>
	<!-- <hr id="line-1" style="width:95%; Color:#D3D3D3;"> -->
	
	<div id="centerContent">
		<div id="contentTitleChart" class="titleCompareFaculty">
			จำนวนนักศึกษาใหม่เทียบกับแผนตามสำนักวิชา ปีการศึกษา <label class="asOfYear"><!-- "Year" refer parameter Chart --></label> <br/> 
			(คลิกที่แต่ละปีการศึกษาเพื่อดูรายละเอียดในระดับหลักสูตรด้านล่าง) <br/>
		</div>
		<!-- Start Kendo chart --> 
		<div id="newStudentByYearByFacultyChart" style="width:950px; height:auto;">  </div>
		<!-- End Kendo chart -->
	<!-- <hr id="line-2" style="width:95%; Color:#D3D3D3;"> -->
	<br style="clear:both">
	</div>	
	
	<div id="buttomContent">
		<div id="contentTitleChart" class="titleCompareMajor">
			จำนวนนักศึกษาใหม่เทียบกับแผนตามหลักสูตร <br/> 
			สำนักวิชา <label class="asOfFaculty"> </label>
			ปีการศึกษา <label class="asOfYear"><!-- "Year" refer parameter Chart --></label> 
		</div>
		<div id="newStudentByYearByFacultyByMajorChart" style="width:650px; height:550; margin:auto;">  </div>
	<br style="clear:both">
	</div>
	<!-- <hr id="line-3" style="width:95%; Color:#D3D3D3;"> -->
