#tabs-4{
	width:auto;
}
#content{
	width:950px;
	height:670px;
	margin:auto;
	/*border: 1px solid red;*/
	
}
#contantBody{
	box-shadow: 0 0 10px #888888;
}
#content .contentPanelL{
	width:473px;
	height:600px;
	float:left;
}
#content .contentPanelR{
	width:473px;
	height:600px;
	float:left;
	/*border-right:1px solid gray;*/
	/*border: 1px solid yellow;*/
}
#content .contentTitleChart{
	width:948px;
	height:80px;
	margin:auto;
	text-align:center;
	/*border: 1px solid yellow;*/
}
#thaiMap{
	width:450px; 
	height:550px; 
	margin:auto; 
	padding-top:30px;
}