<link class="style" href="../Css/amountNewStudentByFacultyByYear.css" rel="stylesheet" type="text/css">
<script src="../Controller/amountNewStudentByFacultyByYear.js"></script>

<div id="content"> 
	<div class="contentTitleChart">
		<b> เปรียบเทียบจำนวนนักศึกษาใหม่ตามสำนักวิชาตามปีการศึกษา  </b>
	</div>
		<div id="newStudentComparebyMajoyByYear" style="widht:950px; height:400px; margin:auto;"> 
		</div>
		<!-- <hr id="line-1" style="width:100%; Color:#D3D3D3;"> <br/> -->
</div>

	<div id="grid"> </div>


