<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WU_Dashboard</title>
<style>
	#tabs{
		font-size:13px;
	}	
</style>
<link href="../Css/main.css" rel="stylesheet" type="text/css">
<link href="../jqueryui/css/cupertino/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

<script src="../kendoCommercial/js/jquery.min.js"></script>

 <!-- 
<script src="../js/jquery.min.1.7.1.js"></script>
 -->

<!--  
<script src="jQuery1.3.js"></script>
<script>
    jq13 = jQuery.noConflict(true);
</script>

 original author's jquery version 
<script src="jQuery1.2.3.js"></script>
-->

<script src="../jqueryui/js/jquery-ui-1.10.3.custom.js"></script>

<!-- map library -->
<!--
 <script src="../js/jquery.svgdom.min.js"></script>
<script src="../js/jquery.svg.min.js"></script>
 -->
<!-- map library -->


<!-- KendoUI chart Start Commercial-->

<link href="../kendoCommercial/styles/kendo.common.min.css" rel="stylesheet" />
<link href="../kendoCommercial/styles/kendo.default.min.css" rel="stylesheet" />
<script src="../kendoCommercial/js/kendo.all.min.js"></script>
<!-- <script src="../kendoCommercial/js/kendo.dataviz.min.js"></script> -->

<!-- KendoUI chart End -->
<!-- KendoUI chart Start not Commercial-->
<!-- 
<link href="../styles/kendo.common.min.css" rel="stylesheet" />
<link href="../styles/kendo.default.min.css" rel="stylesheet" />
<script src="../js/kendo.all.min.js"></script>
<script src="../js/kendo.dataviz.min.js"></script>
 -->
<!-- KendoUI chart End -->

<!-- call Controller main Start -->
<script src="../Controller/main.js"> </script>
<!-- call Controller main END -->

</head>


<body>
	<div id="body">
		<div id="header">
		<form id="formAction">
			<div id="paramArea">
				<div id="paramTitle">
					ปีการศึกษาที่เข้าศึกษา
				</div>
				<div id="paramYearList" >
					<!--select id="paramYear" class="list">
						<option> get from createParameter() </option>
					</select>-->
				</div>
				<div id="paramTitle">
					จำนวนปีย้อนหลัง
				</div>
				<div id="paramPreList">
					<!--<select>
					</select>-->
				</div>
				<div id="submit"> 
					<input type="submit" id="btnSubmit" name="btnSubmit" value="ดูข้อมูล"  style="height:30px; width:100px; text-align:center" >
				</div>
								
				<br style="clear:both">
			</div>
		</form>
		</div>
		<div id="maincontent">
		
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">จน.นศ.ใหม่ตามปีการศึกษา</a></li>
					<li><a href="#tabs-2">จน.นศ.ใหม่ตามประเภทการรับ </a></li>
					<li><a href="#tabs-3">% นศ.ใหม่เทียบกับแผน</a></li>
					<li><a href="#tabs-4">จน.นศ.ใหม่ตามพื้นที่</a></li>
					<li><a href="#tabs-5">เปรียบเทียบ จน.นศ.ใหม่ตามสำนักวิชา</a></li>
				</ul>
				<div id="tabs-1"></div>
				<div id="tabs-2"></div>
				<div id="tabs-3"></div>
				<div id="tabs-4"></div>
				<div id="tabs-5"></div>
			</div>
			
		</div>
	</div>

</body>

</html>